.footer-icon{

	ul{
		margin: 0px;
		padding: 0px;

		li{
			list-style: none;
			display: inline-block;
			float: left;
			margin-right: 15px;

			a.like{
				    font-size: 20px;
    				color: #000 ;

    // 				.gray{
				// color: #ddd;
				// }
			}
			a.dislike{
				    font-size: 20px;
    				color:#9d4b4b ;
			}

			a.empty
			{
				 font-size: 20px;
    				color:#9b9b29 ;
			}

			a .fa{
				margin-right: 10px;
			}
			a:hover{
				color:#000 !important;
			}
		}
	}
}
